p.topArtistList {
    display: flex;
    justify-content: center;
    font-size: larger;
    font-family: cursive;
    margin: 10px;
    color: lightslategray;
    font-weight: bold;
}

.mainimg{
    border-radius: 5px;
    box-shadow: rgb(240 46 170 / 40%) 5px 5px, rgb(240 46 170 / 30%) 10px 10px, rgb(240 46 170 / 20%) 15px 15px, rgb(240 46 170 / 10%) 20px 20px, rgb(240 46 170 / 5%) 25px 25px;
}
.card {
    display: flex;
    margin-bottom: 20px;
    border-radius: 6px;
    border: white;
}
.card-body {
    display: flex;
    background: linear-gradient(135deg, #f2d50f 0%,#da0641 100%);
    align-items: center;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
    border-radius: 5px;
}

.imgTitle {
    display: flex;
    align-items: center;
}

a {
    display: flex;
    align-items: center;
}

h5.card-title {
    margin: 30px;
}

.artistText {
    display: grid;
    margin-left: 80px;
    position: absolute;
    right: 15%;
}

p.card-text {
    display: flex;
    text-align: center;
}

h1.loading {
    display: flex;
    justify-content: center;
}

@media screen and (max-width : 800px){
    .imgTitle {
    width: 100px;
    flex-wrap: wrap;
    }

    a {
    display: flex;
    flex-wrap: wrap;
    }

    h5.card-title {
    font-size: small;
    }

    .artistText {
    display: grid;
    margin-left: 80px;
    font-size: smaller;
    position: absolute;
    right: 5%;
    }

    img {
    width: 100px;
}}
